body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    flex-direction: column;
    height: 80vh;
}

button {
    background: white;
    font-size: large;
    width: 13rem;
    height: 2rem;
    border-radius: 1rem;
    text-decoration: none;
    border: 1px solid black;
}

button:hover {
    background: black;
    color: white;
    transition: 0.2s ease-out;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;

}