:root {
    
    --background-color: #212121;
    --header-text-color: white;
    --footer-text-color: white;
    --button-text-color: #212121;
}

.loading {
    visibility: hidden;
    position: absolute;
    width: 80px;
    height: 80px;
  }

.loading.display {
    visibility: visible;
}

  .loading div {
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 50%;
    animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
  }
  .loading div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loading div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loading div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



@font-face {
    font-family: 'silkscreen';
    src: url('fonts/slkscr.ttf');
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: #ffffff;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: 150px; */
    grid-template-rows: repeat(4, 300px);
    /* grid-auto-rows: row dense; */
    margin: 3rem;
    /* display: flex; */
}

.search-input input{

    width: 40rem;
    height: 7vh;
    font-size: x-large;
    border-radius: 20px;
    border: 2px solid rgb(81, 81, 81);
    outline: none;
    padding-left: 1rem;

}

.previous_page {

    background: black;
    color: white;
    font-size: xx-large;
    border: none;
    border-radius: 20px;
    width: 7rem;
    margin-right: 0.5rem;


}

.previous_page:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in;
}

#no_pics {
    position: absolute;
    visibility: hidden;
    font-size: xx-large;
    width: 100%;
    text-align: center;
    top: 30%;
}

.next_page {
    background: black;
    color: white;
    font-size: xx-large;
    border: none;
    border-radius: 20px;
    margin-left: 0.5rem;
    width: 7rem;
}

.page_number {
    font-size: x-large;
}

footer {
    font-size: x-large;
}

.next_page:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.image {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin: 0.5rem;
}

.image:first-child {
    grid-row: span 2;
}

.image:nth-child(2) {
    grid-row: span 2;
}

.image:nth-child(6),
.image:nth-child(8) {
    grid-row: span 2;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.active {
    animation: opacity_change 1s;
}

@keyframes opacity_change { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

img:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
}

#popup-image {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    background: rgb(0, 0, 0, 0.97);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#popup-image img {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70%;
}

#white-background {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: white;
    width: 80%;
    height: 80%;
}

#close_image {
    position: absolute;
    top: 3%;
    right: 3%;
    color: white;
    background: black;
    border: none;
    font-size: xx-large;
    cursor: pointer;
}

#close_image:hover {
    transform: scale(1.1);
}

.pop-buttons {
    height: 20%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pop-buttons button{
    width: 9rem;
    height: 3rem;
    background: black;
    color: white;
    border: none;
    font-size: large;
    border-radius: 20px;
}

.pop-buttons button:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in;
}


.navbar-header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2.5rem;
    margin-left: 4rem;
    font-family: 'silkscreen';

}

.navbar-links ul {
    padding: 0;
    margin-right: 4rem;
    display: flex;
}

.navbar-links li {
    list-style: none;
}



.navbar-links li a {
    text-decoration: none;
    font-size: 13pt;
    color: rgb(0, 0, 0);
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background: rgb(214, 214, 214)
}

.toggle-button {
    position: absolute;
    top: .43rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 14px;
}

.toggle-button .bar {
    height: 2px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}


footer {
    color: rgb(0, 0, 0);
}


@media only screen and (max-width: 810px) {
    
    .navbar {
        display: flex;
    }

    .image-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .search-input input {
        margin-top: 2rem;
        width: 120%;
    }
    
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        background: rgb(255, 255, 255);
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links a {
        padding:5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        
    }

  }