:root {
    
    --background-color: #212121;
    --header-text-color: white;
    --footer-text-color: white;
    --button-text-color: #212121;
}

.loading {
    visibility: hidden;
    position: absolute;
    width: 80px;
    height: 80px;
  }

.loading.display {
    visibility: visible;
}

  .loading div {
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 50%;
    animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
  }
  .loading div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loading div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loading div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



@font-face {
    font-family: 'silkscreen';
    src: url('fonts/slkscr.ttf');
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: #ffffff;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows: 150px; */
    grid-template-rows: repeat(4, 250px);
    /* grid-auto-rows: row dense; */
    margin: 3rem;
}

.search-input input{

    width: 40rem;
    height: 7vh;
    font-size: large;
    border-radius: 20px;
    border: 2px solid rgb(81, 81, 81);
    outline: none;
    padding-left: 1rem;

}

.previous_page {

    background: black;
    color: white;
    font-size: x-large;
    padding-right: 1rem;
    border: none;
    border-radius: 20px;


}

.next_page {
    background: black;
    color: white;
    font-size: x-large;
    border: none;
    border-radius: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.image {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin: 1rem;
}

.image:first-child {
    grid-row: span 1;
}

.image:nth-child(2) {
    grid-row: span 2;
}

.image:nth-child(6),
.image:nth-child(8) {
    grid-row: span 2;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in;
}



.navbar-header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 2rem;
    margin-left: 4rem;
    font-family: 'silkscreen';
    /* background-image: linear-gradient(90deg, rgb(211, 3, 211), rgb(0, 110, 255), rgb(255, 0, 21));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent;
  
    background-size: 400%;
  
    animation: animatedText 5s linear infinite; */

}
/* @keyframes animatedText{
    from {
      background-position: 0% center; 
    }
    to {
        background-position: -400% center;
    }
} */

.navbar-links ul {
    padding: 0;
    margin-right: 4rem;
    display: flex;
}

.navbar-links li {
    list-style: none;
}



.navbar-links li a {
    text-decoration: none;
    font-size: 13pt;
    color: rgb(0, 0, 0);
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background: rgb(214, 214, 214)
}

.toggle-button {
    position: absolute;
    top: .43rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 14px;
}

.toggle-button .bar {
    height: 2px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}


footer {
    color: rgb(0, 0, 0);
}


@media only screen and (max-width: 810px) {
    
    .navbar {
        display: flex;
    }

    .image-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .search-input input {
        margin-top: 2rem;
        width: 120%;
    }
    
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        background: rgb(255, 255, 255);
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links a {
        padding:5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        
    }

  }